* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

header {
    background-color: black;
    padding: 20px 0;
    border-bottom: 4px solid red;
}

.menu {
    width: 80%;
    padding: 20px;
    text-align: right;
}

.menu a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 20px;
    transition: 0.5s;
}

.menu a:hover {
    color: blue;
}

/*section main*/

section.main {
    padding: 50px 0;
}

.main-chamada {
    width: 100%;
    margin: 40px 0;
    text-align: center;
}

.main-chamada h2 {
    font-size: 40px;
}

.main-chamada p {
    font-size: 20px;
    margin: 20px 0;
}

.main-chamada button {
    display: inline-block;
    margin: -20px 0 40px 0;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 22px;
    border: 0;
    cursor: pointer;
}

.main-chamada button:hover {
    background-color: blue;
}

.atuacoes {
    margin-top: -30px;
    padding: 50px 250px;
    display: flex;
    text-align: center;
}

.atuacao {
    border-radius: 10px;
    background-color: rgba(140, 140, 141, 0.205);
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
}

.atuacao h2 {
    font-size: 17px;
}

.atuacao p {
    padding: 10px 0 0 0;
    font-size: 16px;
}


/* Começo das casas */

.house-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    /* Estica a altura das divs */
    margin: 20px -10px 0;
    justify-content: center;
    /* Centraliza horizontalmente */
    margin: 20px auto;
    /* Margens automáticas para centralizar verticalmente */
    max-width: 1200px;
    /* Defina a largura máxima */

}

.house {
    border: 1px solid #ddd;

    width: calc(33.33% - 40px);
    box-sizing: border-box;
    text-align: center;
    transition: border 0.3s ease-in-out, padding 0.3s ease-in-out;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;

}

.house img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.house img:hover {
    transform: scale(1.05);
}

.house-details {
    margin-top: 10px;
    margin-bottom: 40px;
}

.house-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.house:hover {
    border: 2px solid yellow;
    /* Adicione a borda amarela no hover */
}

/* conteudo do slider  */
.slider-container {
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider>div {
    flex: 0 0 100%;
}

.slider img {
    width: 100%;
    height: auto;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.slider-button.active {
    background-color: black;
}

.botao-veja-mais {
    background-color: blue;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    /* Estica a altura das divs */
    margin: 20px -10px 0;
    justify-content: center;
    /* Centraliza horizontalmente */
    margin: 20px auto;
    /* Margens automáticas para centralizar verticalmente */
    max-width: 1200px;
    /* Defina a largura máxima */
}


.texto-descricao {
    padding-bottom: 5px;
    border-bottom: 0.5px solid rgb(194, 194, 194);
}

.descricao-casa {
    padding-top: 10px;
    padding-bottom: 10px;
}

.house-button {
    margin: 20px;
}
.sobre{
    background-color: #202121;
    padding: 40px;
    text-align: center;
    max-width: 1200px;
    /* Defina a largura máxima */
    margin: 20px auto;
    
}

.sobre img {
    height: 200px;
    width: 200px;
}

.descricao{
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px ;
    text-align: left;
}
.descricao p, .descricao h3{
    margin-bottom: 20px;
   
}

.roda-pe{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex; /* Adicione display flex para alinhar os elementos */
    align-items: center; /* Alinhe verticalmente ao centro */
    justify-content: center; /* Alinhe horizontalmente ao centro */
}

.separa {
    margin: 0 10px; /* Adicione uma margem entre as divs */
}

.itens{
    display: flex;
    align-items: center; /* Alinhe verticalmente ao centro */
}
.itens img {
    margin-right: 10px; /* Adicione margem à direita para separar o ícone do número */
}
.itens p {
    margin: 0; /* Remova as margens padrão dos parágrafos */
    padding-left: 10px; /* Adicione espaçamento à esquerda dos parágrafos */
}
